<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <script src="https://use.fontawesome.com/d6d810c704.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href=""><img src="../../img/CAPI/CAPI_tbg.png" alt="CAPI Logo" style="width: 100px; padding: 5px;"/></a>
                <div><span style="color: azure">Computer-assisted Precision Imaging</span></div>
                @*@Html.ActionLink("CAPI", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})*@
            </div>
            <div class="navbar-collapse collapse">
                @*<ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>*@
                <div style="margin: auto; text-align: center;"><h3 style="color: red">Staging Area v1.0</h3></div>
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top: 50px; background-color: lightgray;">
        <div class="row" style="margin-top: 20px;">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - CAPI</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
